.orange{color:#ffa854;}
.pink{color:#FFB200;}
.purple{color:#694c8b;}
.purple-dark{color:#383069;}

.bg-white{background:#070402;}
.bg-orange{background-color:#FFB200;}
.bg-pink{background-color:#070402;}
.bg-purple{background-color:#FFB200;}
.bg-purple-dark{background-color:#383069;}

.countdown-s5 .countdown-section:nth-child(2n+2){
	background-color:#070402;
}



.de_tab.tab_style_4 .de_nav li:nth-child(1n+1).active,
.small-border{
	background-color:#FFB200;
}
.de_tab.tab_style_4 .de_nav li:nth-child(2n+2).active, 
.de_tab.tab_style_4 .de_nav li:nth-child(2n+2).active,
.countdown-s5 .countdown-section:nth-child(3n+3){
	background-color:#FFB200;
}
.de_tab.tab_style_4 .de_nav li:nth-child(3n+3).active, 
.de_tab.tab_style_4 .de_nav li:nth-child(3n+3).active,
.countdown-s5 .countdown-section{
	background-color:#FFB200;
}

.countdown-s5 .countdown-section:nth-child(4n+4){
	background-color:#070402;
}

/* orange */
.countdown-s3 .countdown-show4 .countdown-section{
	border-color:#ffa854;
}
/* pink */
.countdown-s3 .countdown-show4 .countdown-section:nth-child(2n+2){
	border-color:#070402;
}
/* purple */
.countdown-s3 .countdown-show4 .countdown-section:nth-child(3n+3){
	border-color:#070402;
}
/* dark purple */
.countdown-s3 .countdown-show4 .countdown-section:nth-child(4n+4){
	border-color:#383069;
}
